<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guestbook">
	<select id="list" resultType="com.ict.vo.VO">
		select * from guestbook2 order by idx
	</select>
	<insert id="insert" parameterType="com.ict.vo.VO">
		insert into guestbook2 values(guestbook2_seq.nextval, #{name},#{subject},#{content},#{email},#{pwd}, #{f_name},sysdate)
	</insert>
	<select id="onelist" parameterType="String" resultType="com.ict.vo.VO">
		select * from guestbook2 where idx = #{idx}
	</select>
	<delete id="delete" parameterType="String">
		delete from guestbook2 where idx = #{idx}
	</delete>
	<update id="update" parameterType="com.ict.vo.VO">
		update guestbook2 set name=#{name}, subject=#{subject}, content=#{content}, email=#{email} where idx=#{idx}
	</update>
</mapper>
